Flujo.json
[{"id":"be2aca37.2c89b8","type":"serial in","z":"1a800007.b9ecd","name":"","serial":"3309eea4.8b9442","x":90,"y":140,"wires":[["6fab4745.534bb8"]]},{"id":"6fab4745.534bb8","type":"function","z":"1a800007.b9ecd","name":"transformación de datos","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["1f42a928.7af6f7"]]},{"id":"1f42a928.7af6f7","type":"json","z":"1a800007.b9ecd","name":"","property":"payload","action":"","pretty":false,"x":490,"y":140,"wires":[["54ef94f.3b7806c"]]},{"id":"54ef94f.3b7806c","type":"function","z":"1a800007.b9ecd","name":"Agregar tópico","func":"var res = {};\nres.payload = msg.payload;\nres.topic = \"alertas\";\n\nreturn res;","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["76c53811.00ca58"]]},{"id":"76c53811.00ca58","type":"tcp out","z":"1a800007.b9ecd","host":"172.24.42.52","port":"6900","beserver":"client","base64":false,"end":false,"name":"Envío por TCP","x":860,"y":140,"wires":[]},{"id":"3309eea4.8b9442","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]